
.users {
    display: flex;
    justify-content: space-between;
    margin: 3%;
    width: 600px;
}

.users_h3 {
    margin-left: 4%;

}
.selectedPage{
    font-weight: bold;
    color: coral;
}
.users_img {
    width: 90px;
    height: 90px;
    border-radius: 45px;
    overflow: hidden;

}

.users_img img {
    height: 100%;
}

.users_action {
    text-align: center;
    width: 90px;

}

.users_item {
    text-align: left;
    width: 90px;

}

.users_location {

    text-align: left;
    width: 80px;
}
.users_name {
    font-size: large;
}

.users_about {
    font-size: small;
}

.users_town {
    font-size: large;
}

.users_years {
    font-size: small;
}