@media screen and (max-width: 460px) {
    /* стили для телефонов - начало */
   .span{
       display: none;

   }
    /*.Header{
        width: 450px;
    }*/
}
.span{
    color: azure ;
}
.Header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    height: 5ch;
    background-color: #282c34;
    color: azure;
    z-index: 2;
    align-items: center;
    text-align: center;
    
}

.Header_search {
    display: flex;
    justify-content: space-between;

}

.Header_search_img {
    margin: auto 0;
    padding: 0 10px 0 30px;
    color: azure;
    background-color: #282c34;
    font-size: 110%;
    flex-wrap: nowrap;
}

.Header_search_area {
    margin: auto 0;
    flex-wrap: nowrap;
}



.Header_nav {
    font-size: 80%;
    display: flex;
    justify-content: space-between;
}

.Header_nav a {
    text-decoration: none;
    color: coral;
}

.Header_nav a:hover {
    color: azure;
}


.Header_more_button div:hover {
    background-color: coral;
}

.Header_nav_item {
    margin: auto 10px;
}

.Header_more_button {
    background-color: #282c34;
    border: none;
    width: 50px;
}

.Header_more_button_dot {
    color: white;
    background-color: white;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    margin-top: 4px;
    margin-left: 15px;
    font-size: 1px;
}