.itemDialog{
    font-size: 85%;
    display: flex;
    align-items: center;
    margin:4% 0 4% 0;
    justify-content: flex-start;
    align-self: center;
    height: 20%;
}
.unread{
    text-align: left;
    font-size: small;
}
.itemDialogAva{
    border-radius: 40px;
    margin: 10px 0 0 0;
    width: 60px;
    height: 60px;
    position: sticky;
    overflow: hidden;

}
.itemFriends{
    vertical-align: center;
    width: 30%;
    margin-left: 8%;

}
.itemDialogAva img{
    height: 100%;
}
.name{
    font-size: 80%;
}